.card{
    margin: 1%;
    padding: 0px;
    border-radius: 12px;
    width: 31%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.card_element{
    padding: 1.25rem;
    padding-left: 20px;
}

.card_title{
    font-size: 1em;
    margin-top: 4px;
    margin-bottom: 4px;
}

.card_text{
    margin-top: 4px;
    margin-bottom: 4px;
}

.amount_due{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-clip: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    min-width: 100px;
}

.amount_due .card_text{
    text-align: center;
}

.text_muted{
    color: gray;
    font-size: .8em;
}

.locations{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-basis: fill;
    margin-top: 20px;
}

/***********
*   Modal  *
************/

.modal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex; 
    flex-direction: row;
    overflow-y: visible;
}

.button{
    border: 2px solid black;
    width: 25%;
    flex: none;
    cursor: pointer;
    margin-top: 12px;
    padding: 4px;
}

.info_section{
    width: 50%;
}

.email_section{
    width: 50%;
    overflow: auto;
}

@media (max-width: 768px) { 
    .card{
        padding: 0px;
        border-radius: 12px;
        width: 100%;
    }

    .modal{
        flex-direction: column;
    }

    .info_section{
        width: 100%;
    }

    .email_section{
        width: 100%;
    }
}